@import "tailwindcss";

@theme {
  --color-background: #0B0B0B;
  --color-foreground: #F5F5F5;
  --color-card: #121212;
  --color-primary: #D4AF37;
  --color-muted: #BDBDBD;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0B0B0B;
  --foreground: #F5F5F5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
